@font-face {
	font-family: 'Cabin Bold';
	src: url('Cabin-Bold.eot');
	src: url('Cabin-Bold.eot?#iefix') format('embedded-opentype'),
		url('Cabin-Bold.woff') format('woff'),
		url('Cabin-Bold.ttf') format('truetype');
}